@media (max-width: 767px) {
  /* 모바일 */
  .head-inner {
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
  }
  .container {
    width: 100%;
  }
  .topimg,
  .bottomimg {
    height: 281px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
  }
  .banner_text-box {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .banner_text-box .banner_title {
    font-size: 32px;
    font-weight: 700;
    line-height: 44.8px;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 18px;
  }
  .banner_btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .banner_btn > a {
    width: 154px;
    height: 48px;
    border-radius: 24px;
    font-size: 16px;
    text-align: center;
    padding: 0px 0px;
    line-height: 350%;
    font-weight: 500;
  }
  .section {
    height: 465px;
    display: flex;
    flex-direction: column;
  }
  .section:first-child {
    margin-top: 50px;
  }
  section:nth-child(2) {
    flex-direction: column;
    right: 0;
  }
  section img {
    width: 344px;
  }

  .section_text-box {
    margin: 20px 0px 0px;
    width: 343px;
  }
  .section_text-box__label {
    font-size: 16px;
    color: #3692ff;
    margin-bottom: 12px;
    font-weight: 700;
  }

  .section_text-box__title {
    font-size: 24px;
    font-weight: 700;
    margin-top: 8px;
  }

  .section_text-box__description {
    margin-top: 24px;
    font-size: 16px;
    font-weight: 500;
  }
  footer {
    display: flex;
    height: 160px;
    padding: 32px;
    font-size: 16px;
  }
  .copyright {
    display: none;
  }
  /* .copyright_mobile{
    display: block;
  } */
  footer .privacyfaq > a {
    color: #cfcfcf;
    margin: 15px;
  }
  footer div {
    margin-top: 32px;
  }

  .icon-box img {
    width: 20px;
    margin-left: 6px;
  }
}
